// Sets min-height for docs iframes
.innerZoomElementWrapper {
  & > * {
    height: 60vh;
    max-height: 500px;
    min-height: 200px;
  }
}

.sb-show-main.sb-main-padded {
  background: white;
  overflow: hidden;
  padding: 0;
}
